/* Config Generale */


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
  }

  #swup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('assets/img/post.jpg');
    section {
      width: 100%;
    }
  }

  main {
    flex: 1 0 auto;
  }

  /* Swup */
  .transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }


  // Anime Page Home
  .ml11 {
    font-weight: 900;
    font-size: 2.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }





/* Footer */
.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        margin: 0 0 0 10px;
    }
}

/* Responsive */
@media all and (min-width: 1024px){
  /* Animation */
.card--hide {
  transform: translateY(50px);
  transition: all 0.8s ease-in-out;
  opacity: 0;
}
.card--show {
  transform: translateY(0px);
  transition: all 0.8s ease-in-out;
  opacity: 1;
}


  .ml11 {
    font-weight: 900;
    font-size: 4.5em;
  }
    #home {
      .home_item{
        cursor: pointer;
        padding: 25px;
        transition: all 0.2s ease-in-out;
      }
    }
    #profil {


        .row {
          display: flex;
        }
        
        .col {
          display: flex;
          flex-direction: column;
        }
  
      }
    
}